<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="script/controller.js"></script>
<link type="text/css" media="screen" rel="stylesheet" href="responsive-tables.css" />
<script type="text/javascript" src="responsive-tables.js"></script>
<link rel="stylesheet" type="text/css" href="styles/app.css" />
</head>

<body>

<div ng-app="" ng-controller="formController" style="width = 40%; text-align: center;border-right: 2px solid #000;">
  <form novalidate>
    Task  <input type="text" ng-model="task"><button ng-click="add(task)">ADD</button>
   <!--  <button ng-click="reset()">RESET</button> -->
  </form>
 <!--  <p>form = {{ }}</p> -->

 <!--  <p>Task = {{tasks}}</p> -->
 <p>
 <table  class="responsive">
  <tr ng-repeat="task_element in tasks">
  		<td> {{$index + 1}}</td>
    <td>{{ task_element }}</td>
     <td><button ng-click="removeTask($index)">Remove</button></td>
   </tr>
</table>
</p>
</div>
<div style="width = 40%; text-align: center;border-left: 2px solid #000;">
    ' <table  class="responsive">
  <tr ng-repeat="task_element in tasks">
  		<td> {{$index + 1}}</td>
    <td>{{ task_element }}</td>
     <td><button ng-click="removeTask($index)">Remove</button></td>
   </tr>
</table>'
</div>


</body>
</html>	
